*,
.font-sans {
  font-family: 'Mulish', sans-serif;
}
.font-serif {
  font-family: 'Sansita', sans-serif;
}
* {
  color: black;
}

.text-1\.5xl {
  font-size: 22px;
  line-height: 30px;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[2px\] {
  font-size: 2px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-\[34px\] {
  font-size: 34px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-\[54px\] {
  font-size: 54px;
}

.text-\[56px\] {
  font-size: 56px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-3 {
  line-height: 0.75rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[0\] {
  line-height: 0;
}

.leading-none {
  line-height: 1;
}

.container {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 640px;
  }
  .q-page .container {
    padding: 8px 16px;
  }
}

.border {
  border-width: 1px;
  border-style: solid;
}
.border-2 {
  border-width: 2px;
}
.border-3 {
  border-width: 3px;
}
.border-4 {
  border-width: 4px;
}

.shadow-offset {
  box-shadow: 4px 4px 0px 0px #000 !important;
}

.rounded-2xl {
  border-radius: 1rem !important;
}
